

@media (min-width: 993px){

    .landing-page{

        margin-left: 50px;
        margin-right: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
        border: silver 2px solid;
      
      }

      .landing-header, .featured-header{
        text-align: justify;
        margin-left: 100px;
        padding: 20px;
        color: white;
      
      }
      .category-description {
        line-height: 1.5;
        padding: 20px;
        text-align: justify;
        font-size: 14px;
        font-weight: bold;
        margin-left: 100px;
        color: white;
      }


      .border-products{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-column-gap: 15px;
      }

      .selected-image{
        height: 150px;
        width: 120px;
      }

      .featured-items{
        text-align: left;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        margin-left: 120px;
        margin-right: 20px;
        padding: 20px;
        grid-column-gap: 15px;
        border: silver 1px solid;
      
      }

      .featured-border{
  
        padding-left: 140px;
       padding-top: 22px;
       }


       .featured-image{
        height: 180px;
        width: 130px;
      }
      
      h4{
        color: white;
      }

}


@media (min-width: 320px) and (max-width: 576px) {

  .landing-page {
    background-color: black;
    border: silver 2px solid;

  }

  .landing-header{
  white-space: nowrap;

  }

  .selected-image {
    height: 100px;
    width: 90px;
  }

  .border-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .category-description {
    line-height: 1.5;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* word-break: break-word; */
    hyphens: auto;
    padding: 0 20px; /* Add padding for better readability */
    color: white;
  }
  

  .featured-items{
    text-align: center;
    border: white 1px solid;
  
  }


  .featured-image{
    height: 180px;
    width: 130px;
  }

  h4{
    color: white;
  }
  
}


@media (min-width: 577px) and (max-width: 768px){

  .landing-page {
    background-color: #F5F5F5;

  }

  .landing-header{
  white-space: nowrap;

  }

  .selected-image {
    height: 100px;
    width: 90px;
  }

  .border-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .category-description {
    line-height: 1.5;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* word-break: break-word; */
    hyphens: auto;
    padding: 0 20px; /* Add padding for better readability */
  }
  

  .featured-items{
    text-align: center;
    box-shadow: 2px 2px 2px 3px silver;
  
  }


  .featured-image{
    height: 180px;
    width: 130px;
  }


}




@media (min-width: 769px) and (max-width: 992px){


  .landing-page {
    background-color: #F5F5F5;

  }

  .landing-header{
  white-space: nowrap;

  }

  .selected-image {
    height: 100px;
    width: 90px;
  }

  .border-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
  }

  .category-description {
    line-height: 1.5;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    /* word-break: break-word; */
    hyphens: auto;
    padding: 0 20px; /* Add padding for better readability */
  }
  

  .featured-items{
    text-align: center;
    box-shadow: 2px 2px 2px 3px silver;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
  }


  .featured-image{
    height: 180px;
    width: 130px;
  }

  .featured-border{
    margin-top: 15px;
  }
  

}
