

@media (min-width: 993px){

    .landing-page{
        background-color: #F5F5F5;
        margin-left: 50px;
        margin-right: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 100px;
      
      }

      .landing-header, .featured-header{
        text-align: justify;
        margin-left: 100px;
        padding: 20px;
      
      }
      .category-description {
        line-height: 1.5;
        padding: 20px;
        text-align: justify;
        font-size: 14px;
        font-weight: bold;
        margin-left: 100px;
      }


      .border-products{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-column-gap: 15px;
      }

      .selected-image{
        height: 150px;
        width: 120px;
      }

      .featured-items{
        text-align: left;
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        margin-left: 120px;
        margin-right: 20px;
        padding: 20px;
        grid-column-gap: 15px;
        box-shadow: 2px 2px 2px 3px silver;
      
      }

      .featured-border{
  
        padding-left: 140px;
       padding-top: 22px;
       background-color: #F5F5F5
       }


       .featured-image{
        height: 180px;
        width: 130px;
      }
      


}


@media (min-width: 320px) and (max-width: 576px){


    
}