
@media (min-width: 993px){

    .cart-details{
        display: grid;
        grid-template-columns: repeat(2, 45%);
      }


      .product-card-section {
      box-sizing: border-box;
      border: 1px solid silver; 
      width: 80%;
      height: 100%; /* Adjust this value to set the desired fixed height */
      box-shadow: 2px 2px 4px #000000;
      border-radius: 5px;
    
    }


.order-details {
  border: silver solid 1px;
  box-shadow: 2px 2px 4px #000000;
  text-align: left;
  border-radius: 20px;
}

      .price-quantity{
        padding-left: 20px;
        padding-right: 20px;
      }


      .product-quantity-price{
        display: grid;
        
        grid-template-columns: 85% 100%;
      }


      .products_summary{
        display: grid;
        grid-row-gap: 20px;
      }

      .product-box{
        display: grid;
        grid-template-columns: 10% 80% 5%
      }

    
      .cart-images{
        width:125px;
        height: 150px;
      }
  
  .image-link{
    text-align: left;
    padding-left: 20px;
    padding-top:15px ;
    margin-bottom: 15px;
  }

  .card-info{
    margin-left: 50px;
  }

  .count-number{
    width: 70px;
    text-align: center;
  }

  .clear-cart{
    border: none;
    background-color: black
  }

}

@media (min-width: 320px) and (max-width: 576px) {

  .cart-header {
    text-align: center;
  }

  .shopping-cart {
    text-align: center;
  }

  .cart-images {
    width: 125px;
    height: 150px;
  }

  .products-cart {
    text-align: center;
    display: grid;
    grid-row-gap: 20px;
  }

  .product-card-section {
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
  }

  .count-number {
    width: 70px;
    text-align: center;
  }

  .clear-cart {
    border: none;
    background-color: black
  }

  .product-quantity-price {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
  }

  .products_summary {
    display: grid;
    grid-row-gap: 20px;
  }

  .cart-btns {
    border: none;
    background-color:blue;
    color: white;
    height: 50px;
    width: 200px;
  }

  .cart-container {
    text-align: center;
  }

  .order-details {
    margin: 0 20px;
  }

}


@media (min-width: 577px) and (max-width: 768px){


  .cart-header {
    text-align: center;
  }

  .shopping-cart {
    text-align: center;
  }

  .cart-images {
    width: 125px;
    height: 150px;
  }

  .products-cart {
    text-align: center;
    display: grid;
    grid-row-gap: 20px;
  }

  .product-card-section {
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
  }

  .count-number {
    width: 70px;
    text-align: center;
  }

  .clear-cart {
    border: none;
    background-color: black
  }

  .product-quantity-price {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
  }

  .products_summary {
    display: grid;
    grid-row-gap: 20px;
  }

  .cart-btns {
    border: none;
    background-color:blue;
    color: white;
    height: 50px;
    width: 200px;
  }

  .cart-container {
    text-align: center;
  }

  .order-details {
    margin: 0 20px;
  }



}


@media (min-width: 769px) and (max-width: 992px){

 
  .cart-header {
    text-align: center;
  }

  .shopping-cart {
    text-align: center;
  }

  .cart-images {
    width: 125px;
    height: 150px;
  }

  .products-cart {
    text-align: center;
    display: grid;
    grid-row-gap: 20px;
  }

  .product-card-section {
    box-sizing: border-box;
    border: 1px solid white;
    box-shadow: 2px 2px 4px #000000;
    border-radius: 5px;
    margin: 0 20px;
    padding: 10px;
  }

  .count-number {
    width: 70px;
    text-align: center;
  }

  .clear-cart {
    border: none;
    background-color: black
  }

  .product-quantity-price {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
  }

  .products_summary {
    display: grid;
    grid-row-gap: 20px;
  }

  .cart-btns {
    border: none;
    background-color:blue;
    color: white;
    height: 50px;
    width: 200px;
  }

  .cart-container {
    text-align: center;
  }

  .order-details {
    margin: 0 20px;
  }
}
