

    .userDetails{
        display: flex;
        flex-direction: column;
      }

      .userLink{
        margin-top: 30px;
      }

      
        .bold-label {
          font-weight: bold;
        }
      
        .edit {
         text-align: left;
        }

 

        .user-details{
          text-align: center;
        }

        .info-container {
          display: flex;
          flex-direction: column;
          gap: 20px;
          font-family: Arial, sans-serif;
          padding: 20px;
          width: 320px;
          margin: 0 auto; /* Optional: Center horizontally within its parent container */
        }
        
        
       .info-item{
        text-align: left;
        display: flex;
       }
        
        .info-label {
          font-weight: bold;
          margin-right: 10px;
          color: white;
          
        
        }
        
        .info-value {
          font-weight: normal;
          color: white;

        }
        
      
    

