

    .userDetails{
        display: flex;
        flex-direction: column;
      }

      .userLink{
        margin-top: 30px;
      }

      
        .bold-label {
          font-weight: bold;
        }
      
        .edit {
         text-align: center;
         font-size: 15px;
         height: 40px;
        }

 

        .user-details{
          text-align: center;
        }

       /* CSS Variables */
:root {
  --primary-font: Arial, sans-serif;
  --text-color: white;
  --label-font-weight: bold;
  --value-font-weight: normal;
}

/* Container */
.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--primary-font);
  padding: 20px;
  max-width: 320px; /* Use 'max-width' instead of 'width' for responsiveness */
  margin: 0 auto; /* Center horizontally within its parent container */
  background-color: #333; /* Add a background color for contrast */
  border-radius: 10px; /* Add rounded corners for aesthetics */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

/* Info Item */
.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Label */
.info-label {
  font-weight: var(--label-font-weight);
  color: var(--text-color);
  /* Add more styling as needed */
}

/* Value */
.info-value {
  font-weight: var(--value-font-weight);
  color: var(--text-color);
  /* Add more styling as needed */
}


@media(min-width:993px){

  .userLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  
   }
}

.link-item {
    margin-bottom: 50px; /* Adjust the spacing between each link item as desired */
}

.link-item p {
    display: block;
    margin: 0; /* Optional: Remove any default margin on <p> elements */
}






@media (min-width: 320px) and (max-width: 576px) {
   
  
 
   

    .link-item {
        margin-left: 40px; 

      }


  }
  


@media (min-width: 577px) and (max-width: 768px){

  .userLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   }
 

   

   .link-item {
       margin-left: 40px; 

     }



}




@media (min-width: 769px) and (max-width: 992px){


  .userLink {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   }
 

   

   .link-item {
       margin-left: 40px; 

     }


}