.cart-btns-category{
  background-color: rgb(48, 166, 216);
  color: white;
  border: none;
  height: 45px;
  border-radius: 5px;
  width: 120px;
}
@media (min-width: 993px){

    .product-page-container{

      display: grid;
      grid-template-columns: 14% 70%;

    }

      
  select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  .select-container {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
  }
  

  
  .select-container label {
    font-weight: bold;
  }

.filter-products{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 
  .filter-toggle{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    margin-top: 20px;
 
  }

  .product-card{
   display: grid;
   grid-template-columns: repeat(3, 370px);
   row-gap: 50px;
  }


  
  .product {
    height: 348px;
    width: 350px;
    border: 1px solid silver;
    border-radius: 2%;
    margin-left: 50px;
    background: linear-gradient(to right, #053698, #052c49);
    box-shadow: 0px 1px 2px rgb(228, 224, 224)
}




.product-image {
  height: 180px;
  width: 349px;
  border-radius: 2% 2% 0 0; /* top-left, top-right, bottom-right, bottom-left */
}


  
  .cart-btns-category:hover{
    cursor: pointer;
  }
  
  .cart-btns-category:active{
    background-color: blue;
  }

  h1{
    color: white;
  }
  label{
    color: white;
  }

  .price{
    color: white;
  }

  .brand-name{
    color: white;
  }

  .loading-container {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .loading {
    position: absolute;
    width: 24px;
    height: 24px;
    border: 2px solid #ccc; /* Adjust the border color and width as needed */
    border-top: 2px solid #4371ce; /* Adjust the color to match your design */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Create a spinning animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

}

@media (min-width: 320px) and (max-width: 576px){

  select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }

  .filter-products{
    margin-bottom: 20px;
  }
  
  .select-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .select-container label {
    font-weight: bold;
  }

  
  


  .category-heading{
    text-align: center;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .product {
    height: 360px;
    width: 350px;
    border: 1px solid silver;
    border-radius: 2%;
    background: linear-gradient(to right, #053698, #052c49);
    box-shadow: 0px 1px 2px rgb(228, 224, 224)
} 

.product-image {
  height: 180px;
  width: 349px;
  border-radius: 2% 2% 0 0; /* top-left, top-right, bottom-right, bottom-left */
}

  .product-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

hr{
  width: 100%;
}

  
  .cart-btns-category:hover{
    cursor: pointer;
  }
  
  .cart-btns-category:active{
    background-color: blue;
  }

  
  h1{
    color: white;
    text-align: center;
  }
  label{
    color: white;
  }

  .section-name{
    text-align: center;
  }

  .price{
    color: white;
  }

  .brand-name{
    color: white;
  }

  .filter-toggle {
    display: flex; /* Use flex container */
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }
  
  /* Optionally, you can add spacing between each checkbox and brand name */
  .filter-toggle > div {
    margin-right: 10px; /* Adjust as needed */
  }


}


@media (min-width: 577px) and (max-width: 768px){

  select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
  }

  .filter-products{
    margin-bottom: 20px;
  }
  
  .select-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .select-container label {
    font-weight: bold;
  }

  
  


  .category-heading{
    text-align: center;
  }

  .product-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .product {
    height: 360px;
    width: 350px;
    border: 1px solid silver;
    border-radius: 2%;
    background: linear-gradient(to right, #053698, #052c49);
    box-shadow: 0px 1px 2px rgb(228, 224, 224)
} 

.product-image {
  height: 180px;
  width: 349px;
  border-radius: 2% 2% 0 0; /* top-left, top-right, bottom-right, bottom-left */
}

  .product-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

hr{
  width: 100%;
}

  
  .cart-btns-category:hover{
    cursor: pointer;
  }
  
  .cart-btns-category:active{
    background-color: blue;
  }

  
  h1{
    color: white;
    text-align: center;
  }
  label{
    color: white;
  }

  .section-name{
    text-align: center;
  }

  .price{
    color: white;
  }

  .brand-name{
    color: white;
  }

  .filter-toggle {
    display: flex; /* Use flex container */
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }
  
  /* Optionally, you can add spacing between each checkbox and brand name */
  .filter-toggle > div {
    margin-right: 10px; /* Adjust as needed */
  }


  
}

@media (min-width: 769px) and (max-width: 992px){

  select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }

  .select-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    gap: 10px;
   
  }

  .filter-products{
    margin-bottom: 20px;
  }
  
  .select-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  
  .select-container label {
    font-weight: bold;
  }

  
  


  .category-heading{
    text-align: center;
  }

  .product-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .product {
    height: 360px;
    width: 350px;
    border: 1px solid silver;
    border-radius: 2%;
    background: linear-gradient(to right, #053698, #052c49);
    box-shadow: 0px 1px 2px rgb(228, 224, 224)
} 

  .product-image{
    height: 170px;
    width: 115px;
  }


  .product-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

hr{
  width: 100%;
}
 
  
  .cart-btns-category:hover{
    cursor: pointer;
  }
  
  .cart-btns-category:active{
    background-color: blue;
  }

  
  h1{
    color: white;
    text-align: center;
  }
  label{
    color: white;
  }

  .section-name{
    text-align: center;
  }

  .price{
    color: white;
  }

  .brand-name{
    color: white;
  }

  .filter-toggle {
    display: flex; /* Use flex container */
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }
  
  /* Optionally, you can add spacing between each checkbox and brand name */
  .filter-toggle > div {
    margin-right: 10px; /* Adjust as needed */
  }

  .product-image {
    height: 180px;
    width: 349px;
    border-radius: 2% 2% 0 0; /* top-left, top-right, bottom-right, bottom-left */
  }

}