/* CSS for the section */
@media (min-width: 993px){
  
  .review-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
  }
  
  .star_rating{

    display: flex;
    gap: 20px;
    justify-content: center;

  }

  .reviewer{
    color: white;
  }

  .Reviews {
    /* background-color: whitesmoke; */
    padding: 1em;
  
  }

  .review-data{
    text-align: left;
    
  }

  
  .review-select-bar{
    width: 33%;
  }
  
  .Review{
    border: white solid 1px;
  }
  
}
h2{
  color: white;
}