/* CSS for the section */


.formatting-button-container{

  display: flex;
  flex-direction: row;
  gap: 20px;
  }
  
  .formatting-buttons{
    background-color:transparent;
    border: none;
  }

  .Review{
    border: white solid 1px;
    background-color: #012f52;
    margin-top: 20px;
  }

  .review-image{
    width: 150px;
    height: 200px;
  }


  .remove-image-button{
    border: none;
    color: white;
    height: 30px;
    border-radius: 3px;
    background-color: rgb(48, 166, 216);
  }

  .average_stars{
    display: flex;
    flex-direction: row;
    gap: 3px;
  }

  .average_container{
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-bottom: 10px;
  }


  .review-info-container{
    margin-left: 10px;
  }


  .review-btns{
    text-align: center;
    margin-bottom: 10px;
  }


  .review-edit{
    background-color: rgb(48, 166, 216);
    border-radius: 3px;
    border: none;
    color: none;
    height: 25px;
    color: white;
  }


@media (min-width: 993px){
  
  .review-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
  }
  
  .review-input{
    width: 200px;
    height: 30px;
  }

  .star_rating{

    display: flex;
    gap: 20px;
    justify-content: center;

  }




.review-edit-form{
  margin-top: 20px;
}

  .reviewer{
    color: white;
  }

  .Reviews {
    /* background-color: whitesmoke; */
    padding: 1em;
  
  }

  .review-data{
    text-align: left;
    
  }

  .create-review {
    background-color: rgb(65, 167, 210);
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete{
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    height: 25px;

  }

  .delete:hover , .edit:hover{
    cursor: pointer;
  }

  .review-edit{
    background-color: rgb(48, 166, 216);
    border-radius: 3px;
    border: none;
    color: none;
    height: 25px;
    color: white;
  }


  .review-select-bar{
    width: 33%;
  }
  
  .Review{
    border: white solid 1px;
    background-color: #012f52;
  }

  .review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .label-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .review-image{
    width: 200px;
    height: 300px
  }

  .review-form-container{

    display: flex;
    flex-direction: row;
    gap: 90px;

  }

  .review-card-stars{
    margin-top: 5px;
  }

  .reviews-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-container2 {
    border: 1px solid white;
    width: 600px;
    background-color: #012f52;
    box-shadow: 1px 2px 1px black;
  
  }



  
}
h2{
  color: white;
}


#content{
  height: 100px;
  width: 500px;
}

@media (min-width: 320px) and (max-width: 576px){

  .create-review {
    background-color: rgb(48, 166, 216);
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-container2 {
    border: 1px solid white;
    width: 600px;
    background-color: #012f52;
    box-shadow: 1px 2px 1px black;
  
  }




  .review-edit-form{
    margin-top: 20px;
  }

  .delete{
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    height: 25px;

  }

  .review-select-bar{
    width: 300px;
  }

  .edit{
    background-color: rgb(48, 166, 216);
    border-radius: 3px;
    border: none;
    color: none;
    height: 25px;
    color: white;
  }




  .review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .label-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .star_rating{

    display: flex;
    gap: 15px;
    justify-content: center;

  }

  .Reviews{
    margin-left: 10px;
  }

}


@media (min-width: 577px) and (max-width: 768px){


  .Reviews{
    margin-left: 10px;
  }

  .review-select-bar{
    width: 350px;
  }
  .review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }


  .review-edit-form{
    margin-top: 20px;
  }

  .label-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .star_rating{

    display: flex;
    gap: 15px;
    justify-content: center;

  }

  .create-review {
    background-color: rgb(48, 166, 216);
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete{
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    height: 25px;

  }

  .edit{
    background-color: rgb(48, 166, 216);
    border-radius: 3px;
    border: none;
    color: none;
    height: 25px;
    color: white;
  }



}

@media (min-width: 769px) and (max-width: 992px){
  .review-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .label-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .star_rating{

    display: flex;
    gap: 15px;
    justify-content: center;

  }

  .review-select-bar{
    width: 350px;
  }


  .create-review {
    background-color: rgb(48, 166, 216);
    color: #fff; /* Change to your desired text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .delete{
    background-color: red;
    border-radius: 3px;
    border: none;
    color: white;
    height: 25px;

  }

  .edit{
    background-color: rgb(48, 166, 216);
    border-radius: 3px;
    border: none;
    color: none;
    height: 25px;
    color: white;
  }


  .Reviews{
    margin-left: 10px;
  }
}