
@media (min-width: 993px){

    .search-section{
      border-bottom: 1px solid white;
      margin-right: 50px;
    }

    .delete-trash{
        position: relative;
        left: 150px;
        bottom: 50px;
      
        border: none;
      background-color: black;
      }

      .search-cart{
        display: grid;
        grid-template-columns: repeat(1);
        grid-row-gap: 40px;
        margin-left: 140px;
        
      }

      .pagination{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, 15px);
        color:  #002D62;
        cursor: pointer;
        list-style: none;
        margin-left: 12%;
      }

      .history-box{
        display: grid;
        grid-template-columns: 30% 40%;
      }

      .search-image{
        margin-top: 10px;
      }

      .search-images{
        height:110px;
        width: 90px
      }

}

@media (min-width: 320px) and (max-width: 576px){

 .search-images{
        height:110px;
        width: 90px
   }

  


   .delete-trash{
    
     border: none;
   background-color: black;
   }

   .title-trash{
    display: grid;
    grid-template-columns: repeat(2, 1fr)

   }


   .search-cart{
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-row-gap: 40px;
   }

   

       .pagination{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fill, 15px);
        color:  #002D62;
        cursor: pointer;
        list-style: none;
        margin-left: 12%;
      }



}




@media (min-width: 577px) and (max-width: 768px){

  .search-images{
    height:110px;
    width: 90px
}






.delete-trash{

 border: none;
background-color: black;
}

.title-trash{
display: grid;
grid-template-columns: repeat(2, 1fr)

}


.search-cart{
text-align: center;
margin-top: 10px;
display: grid;
grid-row-gap: 40px;
}



   .pagination{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15px);
    color:  #002D62;
    cursor: pointer;
    list-style: none;
    margin-left: 12%;
  }





}


@media (min-width: 769px) and (max-width: 992px){

  .search-images{
    height:110px;
    width: 90px
}




.delete-trash{

 border: none;
background-color: black;
}

.title-trash{
display: grid;
grid-template-columns: repeat(2, 1fr)

}


.search-cart{
text-align: center;
margin-top: 10px;
display: grid;
grid-row-gap: 40px;
}



   .pagination{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 15px);
    color:  #002D62;
    cursor: pointer;
    list-style: none;
    margin-left: 12%;
  }

}