
@media(min-width: 993px){
    .footer-link{
        color: white;
    }
    
    footer{
        margin-top: 200px;
        border-top: 2px solid white;
        height: 100px;
    }
    
    .footer-name{
        text-align: left;
        margin-left: 20px;
    }
    
    
    .footers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }
}

@media(min-width: 320px) and (max-width: 576px){

    .footer-link{
        color: white;
    }
    footer{
        margin-top: 200px;
        border-top: 1px solid white;
    }

    .footers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

}


@media (min-width: 577px) and (max-width: 768px){
    .footer-link{
        color: white;
    }
    footer{
        margin-top: 200px;
        border-top: 1px solid white;
    }

    .footers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

}

@media(min-width: 769px) and (max-width: 992px){

    .footer-link{
        color: white;
    }
    
    footer{
        margin-top: 200px;
        border-top: 1px solid white;
    }
    
    .footer-name{
        text-align: left;
        margin-left: 20px;
    }
    
    
    .footers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
    }

}
