
.cart-number{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

nav{
  position: sticky;
  top: 0;
  z-index: 100;
}
nav{

  background: linear-gradient(to right, #053698, #052c49);
}

.active2{
  background-color: transparent;
  font-weight: bold;

}

.quantity{
  border: solid white 1px;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media(min-width:993px){
  
    a{
        text-decoration: none;
        color: white;
      }

  

      .Navigation{

        display: grid;
        grid-template-columns: 40% 20% 5%;
        grid-column-gap: 150px;
        height: 100px
      }

      .nav-1{
        display: grid;
        grid-template-columns: 40% 50%;
        grid-column-gap: 10px;
      }

      .nav-category{
        margin-top: 22px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .nav-3{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 20px 230px;
      }

       
  .category-link:hover{
    color: 	#909090
  }


  .searchInputs {
    display: flex;
    align-items: center;
    background-color: white;

    border-radius: 40px;
    width: 300px;
    margin-top: 10px;
    padding: 5px;
  }
  
  .searchbar {
    border: none;
    font-size: 18px;
    background-color: transparent;
    flex: 1;
    margin-left: 10px;
    height: 30px;
    outline: none;
  }
  
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  


  .dataResult{
    margin-top: 5px;
    width: 300px;
    height: 200px;

    background-color: rgb(55, 48, 48);
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    border-radius: 10px;
  }

  .search-link:hover{
    background-color: gray;
  }

  .dataResult::-webkit-scrollbar{
    display: none
  }
  
  .dropdown-link{
    color: white;
  }
    
  .user{
    font-size: 25px;
    font-weight: bold;
  }


  .search{
    margin-top: 10px;
  }
    
}




@media (min-width: 320px) and (max-width: 768px) {

  a{
    text-decoration: none;
    color: white
  }
  .dropdown-link{
    color: white;
  }
    
  .searchInputs {
    display: flex;
    align-items: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .searchbar {
    border: none;
    font-size: 18px;
    background-color: transparent;
    flex: 1;
    height: 30px;
    outline: none;
  }
  
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }


.dataResult_container{
  display: flex;
  justify-content: center;
}
.dataResult{
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: rgb(55, 48, 48);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  border-radius: 10px;
}
  

  nav{
    
      margin-top: -30px;
    }
  
    .nav-category{
  
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
  
    }
  
  .searchIcon{
    display: inline
  }

  .nav-3{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 20px;

  }

 

}



@media (min-width: 769px) and (max-width: 992px){

  a{
    text-decoration: none;
    color: white
  }
  .dropdown-link{
    color: white;
  }
    
  .searchInputs {
    display: flex;
    align-items: center;
    background-color: white;
    height: 30px;
    border-radius: 40px;
    width: 250px;
    margin-top: 10px;
    padding: 5px;
  }
  
  .searchbar {
    border: none;
    font-size: 18px;
    background-color: transparent;
    flex: 1;
    margin-left: 10px;
    height: 30px;
    outline: none;
  }
  
  .searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
/* CSS for the search container */
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* CSS for the dataResult dropdown menu */
.dataResult{
  margin-top: 5px;
  width: 300px;
  height: 200px;

  background-color: rgb(55, 48, 48);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  border-radius: 10px;
}
  


  
    .nav-category{
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
  
    }
  
  .searchIcon{
    display: inline
  }

  .nav-3{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 25px;
   margin-top: 15px;

  }

 .Navigation{
   display: flex;
   flex-direction: row;
   gap: 40px;
   
   margin-bottom: 10px;
 }

 .nav-1{
   display: flex;
   flex-direction: row;
   margin-left: 10px;
   gap: 20px;
 }

 .user{
   font-size: 15px;
 }

 nav{

    background: linear-gradient(to right, #053698, #052c49);
  }

}
